modules = ["python-3.11"]

[[ports]]
localPort = 8501
externalPort = 3001

[[ports]]
localPort = 34657
externalPort = 3000

[[ports]]
localPort = 37875
externalPort = 3002

[[ports]]
localPort = 46367
externalPort = 80
